# Análisis Cluster

### Docente: M.Sc. Richard Fernández

In [255]:
import os as os
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.preprocessing import StandardScaler
from sklearn.cluster import KMeans
from sklearn.metrics import pairwise_distances_argmin_min
from sklearn.metrics import silhouette_samples, silhouette_score

In [256]:
print("Current Working Directory " , os.getcwd())

Current Working Directory  C:\Users\Juan\Desktop\UPC\Septimo Ciclo\MachineLearning\DATOS

In [257]:
os.chdir("C:/Users/Juan/Desktop/UPC/Septimo Ciclo/MachineLearning/DATOS")

In [258]:
print("Current Working Directory " , os.getcwd())

Current Working Directory  C:\Users\Juan\Desktop\UPC\Septimo Ciclo\MachineLearning\DATOS

In [259]:
data = pd.read_csv("inv_mercados.csv", sep=',')

In [260]:
data.head()

   ID  V1  V2  V3  V4  V5  V6
0   1   6   4   7   3   2   3
1   2   2   3   1   4   5   4
2   3   7   2   6   4   1   3
3   4   4   6   4   5   3   6
4   5   1   3   2   2   6   4

In [261]:
data.dtypes

ID    int64
V1    int64
V2    int64
V3    int64
V4    int64
V5    int64
V6    int64
dtype: object

In [262]:
data_X = data.drop('ID', 1)

In [263]:
data_X.head()

   V1  V2  V3  V4  V5  V6
0   6   4   7   3   2   3
1   2   3   1   4   5   4
2   7   2   6   4   1   3
3   4   6   4   5   3   6
4   1   3   2   2   6   4

In [264]:
data_X_scale = pd.DataFrame(StandardScaler().fit_transform(data_X))
data_X_scale.columns = ["V1","V2","V3","V4","V5","V6"]
data_X_scale.head()

         V1        V2        V3        V4        V5        V6
0  1.161314 -0.072739  1.554929 -0.743311 -0.844581 -0.925548
1 -0.999270 -0.800132 -1.503948 -0.067574  0.902828 -0.239957
2  1.701460 -1.527525  1.045116 -0.067574 -1.427050 -0.925548
3  0.081022  1.382047  0.025491  0.608164 -0.262111  1.131225
4 -1.539416 -0.800132 -0.994135 -1.419048  1.485297 -0.239957

In [265]:
kmeans = KMeans(n_clusters=3).fit(data_X_scale)

In [266]:
labels = pd.DataFrame(kmeans.predict(data_X_scale))
labels.columns = ['segmento']
labels.head()

   segmento
0         1
1         2
2         1
3         0
4         2

In [267]:
data_final = pd.concat([data,labels], axis = 1)
data_final.head()

   ID  V1  V2  V3  V4  V5  V6  segmento
0   1   6   4   7   3   2   3         1
1   2   2   3   1   4   5   4         2
2   3   7   2   6   4   1   3         1
3   4   4   6   4   5   3   6         0
4   5   1   3   2   2   6   4         2

In [268]:
data_final.groupby(['segmento'])['V1','V2','V3','V4','V5','V6'].agg(['count','mean'])

<ipython-input-268-8f6b70a2a984>:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  data_final.groupby(['segmento'])['V1','V2','V3','V4','V5','V6'].agg(['count','mean'])

            V1              V2              V3              V4           V5  \
         count      mean count      mean count      mean count   mean count
segmento
0            6  3.500000     6  5.833333     6  3.333333     6  6.000     6
1            8  5.750000     8  3.625000     8  6.000000     8  3.125     8
2            6  1.666667     6  3.000000     6  1.833333     6  3.500     6

                   V6
           mean count      mean
segmento
0         3.500     6  6.000000
1         1.875     8  3.875000
2         5.500     6  3.333333

In [269]:
sample_silhouette_values = silhouette_samples(data_X, labels)
sample_silhouette_values

C:\ProgramData\Anaconda3_delete\lib\site-packages\sklearn\utils\validation.py:72: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(**kwargs)

array([0.61936515, 0.55116095, 0.55305902, 0.48546787, 0.59314503,
       0.57426923, 0.55305466, 0.57540659, 0.53538333, 0.51845135,
       0.63929909, 0.42312356, 0.39817884, 0.60553311, 0.39414773,
       0.57070211, 0.45077846, 0.1779728 , 0.53945679, 0.56363111])

In [270]:
silhouette_avg = silhouette_score(data_X, labels)
silhouette_avg

C:\ProgramData\Anaconda3_delete\lib\site-packages\sklearn\utils\validation.py:72: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(**kwargs)

0.5160793381862094

In [271]:
#Tarea: presentar una función que grafique, los anchos de silueta para 2, 3, 4 y 5 segmentos

In [272]:
#Nuevo registro
X_new = pd.DataFrame([[1,7,2,5,6,5]])
new_labels = kmeans.predict(X_new)
print(new_labels)

[0]